.post-corporate-text, .post-creative-text {
	max-height: 200px;
	overflow: hidden;
	position: relative;
}

.post-corporate-text::before, .post-creative-text::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;
	background-image: linear-gradient(to top, white , rgb(0,0,0,0));
}